@import url('https://fonts.googleapis.com/css?family=Merienda'); 

h1 {
  font-family: "Merienda",monospace;
  font-weight: 10;
  text-shadow: 4px 4px 4px rgb(18, 17, 17);
  color: rgb(128, 214, 216);
}