 @import url('https://fonts.googleapis.com/css?family=Luckiest+Guy'); 

h1 {
  font-family: "Luckiest Guy",monospace;
  font-weight: 10;
  text-shadow: 4px 4px 4px rgb(18, 17, 17);
  color: #58b368;
}